<%- include('include/header') %>
<body>

<div class = "container">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/mainimg.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
    <hr /> 
    <div class="container">
        <div class="row">
          <div class="col-7">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true">공지사항</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
              role="tab" aria-controls="profile" aria-selected="false">자유게시판</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
              role="tab" aria-controls="contact" aria-selected="false">QnA</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <% for(var i=0;i<rows[0].length;i++){ var data=rows[0][i] %>
              <li>
                <%= data.title%>
              </li>
              <%}%>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <% for(var i=0;i<rows[1].length;i++){ var data=rows[1][i] %>
              <li>
                <%= data.title%>
              </li>
              <%}%>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <% for(var i=0;i<rows[2].length;i++){ var data=rows[2][i] %>
              <li>
                <%= data.title%>
              </li>
              <%}%>
          </div>
          
        </div>

      </div>
          <div class="col-5">
            <a href="/notice/1"><img src="./images/ind1.jpg" alt="" width="100%"></a>
          </div>
      </div>
  <hr />
    <div class="row">
      <div class="col-5">
        <a href="/members"><img src="./images/ind2.jpg" alt=""width= "100%"></a>
      </div>
      <div class="col-7">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"style="border-top: none;border-left: none;border-bottom: none;border-right: none;">학번</th>
              <th scope="col"style="border-top: none;border-left: none;border-bottom: none;border-right: none;">이름</th>
              <th scope="col"style="border-top: none;border-left: none;border-bottom: none;border-right: none;">사는곳</th>
              <th scope="col"style="border-top: none;border-left: none;border-bottom: none;border-right: none;">분야</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<rows[3].length;i++){ var data = rows[3][i] %>
              <tr>
                <th scope="row"style="border-top: none;border-left: none;border-bottom: none;border-right: none;"><%= data.snum%></th>
                <td style="border-top: none;border-left: none;border-bottom: none;border-right: none;"><%= data.name%></td>
                <td style="border-top: none;border-left: none;border-bottom: none;border-right: none;"><%= data.address%></td>
                <td style="border-top: none;border-left: none;border-bottom: none;border-right: none;"><%= data.field%></td>
              </tr>
              <%}%>
          </tbody>
        </table>
      </div>
    </div>
  <hr />
    <div class="row">
      <div class="col-7">
       <h1>랩장님의 한 말씀</h1><br>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
  </div>
      <div class="col-5">
        <img src="./images/ind3.jpg" alt="" width="100%">
      </div>
    </div>
  </div>

<%- include('include/footer') %>